<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>A Cordova plugin that allows users to connect to ClearOne Video Conference platform.</description>
    <license>MIT</license>

    <keywords>cordova,video,conference,clearone</keywords>
    <repo>https://github.com/Askblue/VCIntegration1.git</repo>
    <issue>https://github.com/Askblue/VCIntegration1/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/toastyplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>

    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="ToastyPlugin">
          <param name="ios-package" value="VCIntegration" />
        </feature>
      </config-file>
      <config-file target="*-Info.plist" parent="UIMainStoryboardFile" >
          <string>Main1</string>
      </config-file>
      <config-file target="*-Info.plist" parent="Required background modes" merge="true">
      <array>
          <string>App plays audio or streams audio/video using AirPlay</string>
          <string>App provides Voice over IP services</string>
          <string>App downloads content from the network</string>
      </array>
      </config-file>
      <access origin="*" />
      <framework src="libs/CollaborateSpace.framework" custom="true" embed="true" />
      <source-file src="libs/CollaborateSpace.framework" target-dir="lib" framework="true" />
      <framework src="libs/libPhoneNumberiOS.framework" custom="true" embed="true" />
      <source-file src="libs/libPhoneNumberiOS.framework" target-dir="lib" framework="true" />
      <framework src="UIKit.framework"/>
      <framework src="Foundation.framework"/>
      <framework src="AVFoundation.framework"/>
      <framework src="AssetsLibrary.framework"/>
      <framework src="MobileCoreServices.framework"/>
      <header-file src="src/ios/VCIntegration.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/VCIntegration.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/CallViewController.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/CallViewController.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/CollaborateUtils.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/CollaborateUtils.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/AskblueUtils.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/AskblueUtils.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/ContactImageView.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/ContactImageView.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/DocSelectionController.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/DocSelectionController.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/ISptContactData+UIUtils.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/ISptContactData+UIUtils.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/ISptEventData+StringFeatures.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/ISptEventData+StringFeatures.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/LocalSharedDocument.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/LocalSharedDocument.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/StartingCallViewController.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/StartingCallViewController.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/ViewController.h" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/ViewController.m" target-dir="src/VCIntegration"/>
      <source-file src="src/ios/Main1.storyboard" target="src/VCIntegration" />
      <source-file src="src/ios/AppDelegate+notification.m" target-dir="src/VCIntegration"/>
      <header-file src="src/ios/AppDelegate+notification.h" target-dir="src/VCIntegration"/>

    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="android-package" value="com.askblue.cordova.plugin.ToastyPlugin"/>
            </feature>
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <resource-file src="libs/sptIMSDK-release1.aar" target="libs/sptIMSDK-release1.aar" />
        <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/askblue/cordova/plugin" />
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <framework src="com.android.support:support-v4:27.1.0" />
        <framework src="com.android.support:appcompat-v7:27.1.1" />
        <framework src="com.android.support:design:27.1.1" />
        <framework src="com.android.support.constraint:constraint-layout:1.1.3" />
        <framework src="de.hdodenhof:circleimageview:2.1.0" />
        <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="MainActivity" android:name="com.askblue.cordova.plugin.MainActivity" android:theme="@style/AppTheme">
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
              </intent-filter>
            </activity>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="CallActivity" android:name="com.askblue.cordova.plugin.CallActivity" android:theme="@style/FullscreenTheme"> </activity>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="TestConnectMeetingApplication" android:name="com.askblue.cordova.plugin.TestConnectMeetingApplication"></activity>
        </config-file>
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="sharing_option_gallery_label">Share Media from Gallery</string>
        </config-file>
        <source-file src="src/android/MainActivity.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/CallActivity.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/SptCallObserver.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/SptIMObserver.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/ImageViewFragment.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/SharingOptionsDialog.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/TestConnectMeetingApplication.java" target-dir="src/com/askblue/cordova/plugin" />
        <source-file src="src/android/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/styles.xml" target-dir="res/values"/>
        <source-file src="src/android/dimens.xml" target-dir="res/values"/>
        <source-file src="src/android/activity_main.xml" target-dir="res/layout"/>
        <source-file src="src/android/call_menu.xml" target-dir="res/layout"/>
        <source-file src="src/android/fragment_image_view.xml" target-dir="res/layout"/>
        <source-file src="src/android/fragment_sharing_options_dialog.xml" target-dir="res/layout"/>
        <source-file src="src/android/content_main.xml" target-dir="res/layout"/>

    </platform>
</plugin>
